.wrapper {
    display: flex;
    align-items: center;
}
.search {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 10px;
}
.input {
    font: 300 20px/24px 'Rubik', sans-serif;
    color: #ffffff;
    width: 350px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 8px 40px 8px 40px;
    transition: box-shadow 0.15s ease-in-out;
}
.input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.input:focus {
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.25);
}
.searchIcon {
    position: absolute;
    left: 10px;
    width: 24px;
    height: 24px;
    color: #ffffff;
    opacity: 0.8;
}
.input:focus + .clearBtn {
    opacity: 1;
}
.clearBtn {
    position: absolute;
    right: 10px;
    opacity: 0;
}
.clearBtn,
.locationBtn {
    width: 28px;
    height: 28px;
    color: #ffffff;
}
.clearBtn,
.locationBtn {
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.clearBtn:hover,
.locationBtn:hover {
    opacity: 0.8;
}
