.category {
    cursor: pointer;
    display: flex;
    align-items: center;
    font: 400 20px/24px 'Rubik', sans-serif;
    transition: color 0.2s ease-in-out;
}
.category:hover {
    color: #5843be;
}
.active {
    color: #5843be;
}
.inactive {
    color: #86838c;
}
img {
    margin-right: 5px;
}
