.header {
    height: 80px;
    width: 100%;
    background-color: #867ac5;
}
.wrapper {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logoImg {
    height: 44px;
    width: 43px;
    margin-right: 5px;
}
.logoText {
    font: 600 25px/30px 'Rubik', sans-serif;
    color: #1f1235;
}
.accountBtns {
    display: flex;
}
.darkThemeBtn,
.favBtn,
.profileBtn,
.logountBtn {
    width: 28px;
    height: 28px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.logountBtn {
    color: #1f1235;
}
.darkThemeBtn:hover,
.favBtn:hover,
.profileBtn:hover,
.logountBtn:hover {
    opacity: 0.8;
}
.darkThemeBtn,
.favBtn {
    margin-right: 15px;
}
.profile {
    position: relative;
}
.userInfo {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    right: 0;
    top: 28px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
    transition: display 0.3s ease-in-out;
    z-index: 55;
}
.profile:hover .userInfo {
    display: flex;
}
.userName {
    color: #1f1235;
    font: 400 20px/24px 'Rubik', sans-serif;
    margin-bottom: 15px;
}
